Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  misc-*,

  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness

HeaderFilterRegex: '^(app|src|ext_boards)/'
WarningsAsErrors: ''
FormatStyle: file
